<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Search List</title>
    <link rel="stylesheet" th:href="@{/css/userStyle.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<link th:include="user/userNavbar.html">
<div class="list-container">
    <h2>Books Find by <span  style="color: green" th:text="${book.category}"></span> Category</h2>
    <div class="book-list" th:each="book, index :${books}">
        <div class="book-item">
            <div class="rank" th:text="${index.index + 1 + startSerial + '.'}"></div>
            <img  style="width: 50px" th:src="'data:image/jpeg;base64,' + ${book.imageBase64}" alt="Book Cover">
            <div class="search-book-info">
                <a style="color: black" th:href="@{'/user/book/details/' + ${book.id}}"><h3 th:text="${book.name}"></h3></a>
                <input type="hidden" name="orderId" th:value="orderId">
                <p th:text="${book.author}"></p>
                <div class="rating">★★★☆☆</div>
            </div>
        </div>
    </div>
    <button class="view-all">See All →</button>
</div>

<link th:include="footer.html">
</body>
</html>