<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" th:href="@{/css/userStyle.css}">
</head>
<body>
<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h1>| About Us</h1>
            <p>Our online bookstore is more than just a place to buy books; it's a gateway to endless adventures, knowledge, and imagination at your fingertips</p>
        </div>
        <div class="footer-section">
            <h1>| Pages</h1>
            <ul>
                <li><a href="#">Services</a></li>
                <li><a href="#">Success Story</a></li>
                <li><a href="#">Internship</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h1>| Help</h1>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h1>| Social Media</h1>
            <ul class="social-icons">
                <li><i class="fab fa-facebook"></i></li>
                <li><i class="fab fa-google-plus-g"></i></li>
                <li><i class="fab fa-instagram"></i></li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <p>Copyright © 2024 Online BookStore | Powered by BookStore</p>
    </div>
</footer>

</body>
</html>