<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav class="navbar">
    <div class="navbar-left">
        <img src="https://t4.ftcdn.net/jpg/02/11/07/81/360_F_211078110_mttxEdu3gsSbMKajsy98E4M4E5RUCiuo.jpg" class="logo" alt="Book Store icon">
    </div>
    <div class="navbar-center">
        <a th:href="@{/}">Home</a>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
    </div>
    <div class="navbar-right">
        <a th:href="@{/user-login}" class="login">Login</a>
        <a th:href="@{/register}" class="signup" style="margin-right: 100px">Sign Up</a>
    </div>
</nav>
</body>
</html>