<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <link rel="stylesheet" th:href="@{/css/adminStyle.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
</head>
<body>
<link th:include="admin/adminNavbar.html">
<div class="order-container">
    <h1>Order Details</h1>
    <hr>
    <div class="order-card" th:each="orders : ${orderList}">
        <div class="order">
        <div class="order-header">
            <h4 style="font-weight: bold">Order # <span th:text="${orders.order_id}"></span></h4>
            <div class="total-amount">
                <h4>Total Amount: <span style="font-weight: bold" th:text="${totalAmount}"></span> </h4>
                <h4>Payment method: <span style="font-weight: bold">bKash</span></h4>
            </div>
        </div>
            <p style="margin-top: -30px">Order Date <span th:text="${orders.orderDate}"></span></p>
        <div class="shipping-info">
            <h4>Shipping Info</h4>
           <p th:text="'Customer Full Name:  ' + ${orders.shippingInfo.full_name}"></p>
            <p th:text="'Customer Contact No:  ' + ${orders.shippingInfo.phone_no}"></p>
            <p th:text="'Customer Address:  ' + ${orders.shippingInfo.address}"></p>
        </div>
        <div class="cart-items">
            <h4>Cart Items</h4>
            <ul>
                <li th:each="item : ${orderItems}" th:text="'Book Name: ' + ${item.book.name} + ' - ' + 'Quantity: ' + ${item.quantity} + ' - ' + 'Price: ' + ${item.book.price * item.quantity} + ' Tk.'"></li>
            </ul>
        </div>
    </div>
    </div>
</div>
<hr>
</body>
</html>
